*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("bgcloud.jpg");
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: black;
}

.location,
.temperature{
    padding-top: 10%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 768px) {
  body {
    padding-top: 25%;
  }
}

.temperature {
    flex-direction: column;
}

.temperature-description {
    color: black;
    font-size: 22px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 0%;
    font-size: 15vh;
}

.degree-section h2 {
    font-size: 20vh;
}

#uw img {
    width: 28%;
    position: absolute;
    top: 2%;
    right: 70%;
 }

#wlu img {
    width: 23%;
    position: absolute;
    top: 3%;
    right: 4%;
}

#mainlogo img {
    width: 30%;
    position: absolute;
    top: 6%;
    right: 29%;
}

#circle img {
    width: 8%;
    position: absolute;
    top: 3%;
    right: 59%;
}